# Introduction to Lists and Tuples

## Overview

### Mutable vs. Immutable

- A data structure is **mutable** if its content can be changed in place.
- A data structure is **immutable** if its content cannot be changed.

**Best practice.** Avoid mutation when possible, as it makes it harder to reason about your program.

## What are lists and tuples?

* a `list` is a *mutable* ordered sequence.
* a `tuple` is am *immutable* ordered sequence.
    * `list`: index $\rightarrow$ value
    * `dict`: key $\rightarrow$ value
* **Zero indexing.** List/tuple index start a `0` and increase by 1.
* **Mixed type.**  A list or tuple can contain any combinations of types.

**Best practice.** Make lists and tuples that contain one-and-only-one type.

## Inline representation

* delimited by `[...]` [lists] and `(...)` [tuples]
* Entries separated by commas

In [2]:
prof_first = ['April', 'Brant', 'Chris', 'Jeff', 'Tisha', 'Todd', 'Silas']
prof_first

['April', 'Brant', 'Chris', 'Jeff', 'Tisha', 'Todd', 'Silas']

In [3]:
type(prof_first)

list

In [4]:
prof_last = ('Kerby-Helm', 'Deppa', 'Malone', 'Johnson', 'Hooks', 'Iverson', 'Bergen')
prof_last

('Kerby-Helm', 'Deppa', 'Malone', 'Johnson', 'Hooks', 'Iverson', 'Bergen')

In [5]:
type(prof_last)

tuple

## Accessing values - Index Syntax

In [6]:
prof_first[0] # positive index ==> count from the left

'April'

In [7]:
prof_last[-2] # negative index ==> count from the right

'Iverson'

## Accessing values - `toolz.get`

* Same function for lists and dictionaries
* Can get multiple keys
* Allows a default value

In [8]:
from toolz import get
get(0, prof_first)

'April'

In [9]:
get([2, -1], prof_last)

('Malone', 'Bergen')

## empty dictionary, `len` and `in`

* The empty `list` is `[]`
* The empty `tuple` is `tuple([])` [Why not `()`?]
* `len(d)` returns number of entries
* `in` check for entry

In [10]:
len([])

0

In [11]:
len(tuple([]))

0

In [12]:
len(prof_first)

7

In [13]:
'todd' in prof_first

False

In [14]:
'Iverson' in prof_last

True

## Working with strings and list

We frequently work with strings and lists by 
* splitting a string into a list, and
* combining a list of strings into one string

### Combining a list of string

Use `"sep".join(seq)` to combine a list of strings into one string.

In [15]:
all_first = ', '.join(prof_first)

all_first

'April, Brant, Chris, Jeff, Tisha, Todd, Silas'

### Splitting a string into a list

* Use `s.split("sep")` to split a string on each "sep"
* Use `s.split()` on any whitespace.

In [16]:
all_first.split(', ')

['April', 'Brant', 'Chris', 'Jeff', 'Tisha', 'Todd', 'Silas']

## `list` comprehensions

An expressive and fast way of iterating on any sequence.

**Syntax.** 
1. **Without filter.** `[expr for var in seq]`
2. **With filter.** `[expr for var in seq if bool_expr]`

#### Example 1 - Lowercase first names.

In [20]:
[name.lower() for name in prof_first]

['april', 'brant', 'chris', 'jeff', 'tisha', 'todd', 'silas']

#### Example 2 - Last names starting with a vowel

In [21]:
vowels = "aeiou"

[name for name in prof_last if name.lower()[0] in vowels]

['Iverson']

## Other common actions on sequences

### Combining two lists by position with `zip`

In [22]:
name_tuples = [(f, l) for f, l in zip(prof_first, prof_last)]

name_tuples

[('April', 'Kerby-Helm'),
 ('Brant', 'Deppa'),
 ('Chris', 'Malone'),
 ('Jeff', 'Johnson'),
 ('Tisha', 'Hooks'),
 ('Todd', 'Iverson'),
 ('Silas', 'Bergen')]

In [23]:
# Combine using the `join` method
full_name = [" ".join((f, l)) for f, l in zip(prof_first, prof_last)]

full_name

['April Kerby-Helm',
 'Brant Deppa',
 'Chris Malone',
 'Jeff Johnson',
 'Tisha Hooks',
 'Todd Iverson',
 'Silas Bergen']

In [24]:
# Combine using an f-string
full_name = [f"{f} {l}" for f, l in zip(prof_first, prof_last)]

full_name

['April Kerby-Helm',
 'Brant Deppa',
 'Chris Malone',
 'Jeff Johnson',
 'Tisha Hooks',
 'Todd Iverson',
 'Silas Bergen']

### Enumerating a sequence

When we need to know both the value and the location of each item, we can use `enumerate`

In [25]:
enum_name = [(i, n) for i, n in enumerate(full_name)]
enum_name

[(0, 'April Kerby-Helm'),
 (1, 'Brant Deppa'),
 (2, 'Chris Malone'),
 (3, 'Jeff Johnson'),
 (4, 'Tisha Hooks'),
 (5, 'Todd Iverson'),
 (6, 'Silas Bergen')]

In [26]:
odd_index_names = [n for i, n in enumerate(full_name) if i % 2 == 1]
odd_index_names

['Brant Deppa', 'Jeff Johnson', 'Todd Iverson']

### Chaining two sequences together

If we want to iterate through one sequence after the other, we can use `itertools.chain`

In [27]:
from itertools import chain

[n for n in chain(prof_first, prof_last)]

['April',
 'Brant',
 'Chris',
 'Jeff',
 'Tisha',
 'Todd',
 'Silas',
 'Kerby-Helm',
 'Deppa',
 'Malone',
 'Johnson',
 'Hooks',
 'Iverson',
 'Bergen']

## <font color="red"> Exercise 3.0.1 </font>

**Task.** Use a `list` comprehension and `string.join` to 
1. Make the words in each of the following sentences alternate between UPPER and lower case, and
2. Combine the two resulting quotes into one string.

In [2]:
seuss1 = "Today you are you That is truer than true There is no one alive who is you-er than you"
seuss2 = "You're in pretty good shape for the shape you are in"

## seuss 1

In [45]:
# First off, seuss1 and seuss2 need to be put into a list
type(seuss1)

str

In [46]:
seuss1_list = seuss1.split(' ')
seuss1_list

['Today',
 'you',
 'are',
 'you',
 'That',
 'is',
 'truer',
 'than',
 'true',
 'There',
 'is',
 'no',
 'one',
 'alive',
 'who',
 'is',
 'you-er',
 'than',
 'you']

In [54]:
enum_1 = [(i, n) for i, n in enumerate(seuss1_list)]
enum_1

[(0, 'Today'),
 (1, 'you'),
 (2, 'are'),
 (3, 'you'),
 (4, 'That'),
 (5, 'is'),
 (6, 'truer'),
 (7, 'than'),
 (8, 'true'),
 (9, 'There'),
 (10, 'is'),
 (11, 'no'),
 (12, 'one'),
 (13, 'alive'),
 (14, 'who'),
 (15, 'is'),
 (16, 'you-er'),
 (17, 'than'),
 (18, 'you')]

In [56]:
odd_index_1 = [n for i, n in enumerate(enum_1) if i % 2 != 0]
odd_index_1

[(1, 'you'),
 (3, 'you'),
 (5, 'is'),
 (7, 'than'),
 (9, 'There'),
 (11, 'no'),
 (13, 'alive'),
 (15, 'is'),
 (17, 'than')]

In [57]:
even_index_1 = [n for i, n in enumerate(enum_1) if i % 2 == 0]
even_index_1

[(0, 'Today'),
 (2, 'are'),
 (4, 'That'),
 (6, 'truer'),
 (8, 'true'),
 (10, 'is'),
 (12, 'one'),
 (14, 'who'),
 (16, 'you-er'),
 (18, 'you')]

In [28]:
# The error occurs because even_index_names is a list of tuples, and each element n in the list is a tuple like (index, 'word').
# You need to access the second element of each tuple (the string) and then convert it to uppercase.

[n.upper() for n in even_index_names]

AttributeError: 'tuple' object has no attribute 'upper'

In [58]:
# Convert only the string part of each tuple to uppercase

uppercase_even_index_1 = [(index, name.upper()) for index, name in even_index_1]

uppercase_even_index_1

[(0, 'TODAY'),
 (2, 'ARE'),
 (4, 'THAT'),
 (6, 'TRUER'),
 (8, 'TRUE'),
 (10, 'IS'),
 (12, 'ONE'),
 (14, 'WHO'),
 (16, 'YOU-ER'),
 (18, 'YOU')]

In [59]:
# Join upper and lower case tuples together
name_tuples_1 = [(f, l) for f, l in zip(odd_index_1, uppercase_even_index_1)]

name_tuples_1

[((1, 'you'), (0, 'TODAY')),
 ((3, 'you'), (2, 'ARE')),
 ((5, 'is'), (4, 'THAT')),
 ((7, 'than'), (6, 'TRUER')),
 ((9, 'There'), (8, 'TRUE')),
 ((11, 'no'), (10, 'IS')),
 ((13, 'alive'), (12, 'ONE')),
 ((15, 'is'), (14, 'WHO')),
 ((17, 'than'), (16, 'YOU-ER'))]

In [60]:
# Flattening the list of tuples
flattened_tuples_1 = [item for pair in name_tuples_1 for item in pair]

# Sorting the list by the index
sorted_tuples_1 = sorted(flattened_tuples_1, key=lambda x: x[0])

sorted_tuples_1

[(0, 'TODAY'),
 (1, 'you'),
 (2, 'ARE'),
 (3, 'you'),
 (4, 'THAT'),
 (5, 'is'),
 (6, 'TRUER'),
 (7, 'than'),
 (8, 'TRUE'),
 (9, 'There'),
 (10, 'IS'),
 (11, 'no'),
 (12, 'ONE'),
 (13, 'alive'),
 (14, 'WHO'),
 (15, 'is'),
 (16, 'YOU-ER'),
 (17, 'than')]

In [61]:
# Chnaging tuples to string
result_string_1 = ' '.join(word for index, word in sorted_tuples_1)
print(result_string_1)

TODAY you ARE you THAT is TRUER than TRUE There IS no ONE alive WHO is YOU-ER than

## seuss2

In [34]:
seuss2_list = seuss2.split(' ')
seuss2_list

["You're",
 'in',
 'pretty',
 'good',
 'shape',
 'for',
 'the',
 'shape',
 'you',
 'are',
 'in']

In [62]:
enum_name_2 = [(i, n) for i, n in enumerate(seuss2_list)]
enum_name_2

[(0, "You're"),
 (1, 'in'),
 (2, 'pretty'),
 (3, 'good'),
 (4, 'shape'),
 (5, 'for'),
 (6, 'the'),
 (7, 'shape'),
 (8, 'you'),
 (9, 'are'),
 (10, 'in')]

In [63]:
odd_index_2 = [n for i, n in enumerate(enum_name_2) if i % 2 != 0]
odd_index_2

[(1, 'in'), (3, 'good'), (5, 'for'), (7, 'shape'), (9, 'are')]

In [64]:
even_index_2 = [n for i, n in enumerate(enum_name_2) if i % 2 == 0]
even_index_2

[(0, "You're"),
 (2, 'pretty'),
 (4, 'shape'),
 (6, 'the'),
 (8, 'you'),
 (10, 'in')]

In [65]:
# Convert only the string part of each tuple to uppercase

uppercase_even_index_2 = [(index, name.upper()) for index, name in even_index_2]

uppercase_even_index_2

[(0, "YOU'RE"),
 (2, 'PRETTY'),
 (4, 'SHAPE'),
 (6, 'THE'),
 (8, 'YOU'),
 (10, 'IN')]

In [66]:
# Join upper and lower case tuples together
name_tuples_2 = [(f, l) for f, l in zip(odd_index_2, uppercase_even_index_2)]

# Flattening the list of tuples
flattened_tuples_2 = [item for pair in name_tuples_2 for item in pair]

# Sorting the list by the index
sorted_tuples_2 = sorted(flattened_tuples_2, key=lambda x: x[0])

sorted_tuples_2

[(0, "YOU'RE"),
 (1, 'in'),
 (2, 'PRETTY'),
 (3, 'good'),
 (4, 'SHAPE'),
 (5, 'for'),
 (6, 'THE'),
 (7, 'shape'),
 (8, 'YOU'),
 (9, 'are')]

In [67]:
# Chnaging tuples to string
result_string_2 = ' '.join(word for index, word in sorted_tuples_2)
print(result_string_2)

YOU'RE in PRETTY good SHAPE for THE shape YOU are

## Combined final string

In [70]:
result = result_string_1 + ' ' + result_string_2
print(result)

TODAY you ARE you THAT is TRUER than TRUE There IS no ONE alive WHO is YOU-ER than YOU'RE in PRETTY good SHAPE for THE shape YOU are